################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpCore/.vs/ExpCore/v15
/ExpCore/ExpCore/obj
/ExpCore/ExpCore.Core/obj
/ExpCore/ExpCore/bin/Debug/netcoreapp2.0
/ExpCore/ExpCore.Core/bin/Debug/netcoreapp2.0
/ExpCore/ExpCore.Infrastructure/bin/Debug/netcoreapp2.0
/ExpCore/ExpCore.Infrastructure/obj
/ExpCore/ExpCore.ListRepository/obj
/ExpCore/.vs/config
/ExpCore/ExpCore/ExpCore.csproj.user
/ExpCore/ExpCore.ListRepository/bin/Debug/netcoreapp2.0
/ExpCore/ExCore.Sample.EF/bin/Debug/netcoreapp2.0
/ExpCore/ExCore.Sample.EF/obj
/ExpCore/ExpCore.Sample/bin/Debug/netcoreapp2.0
/ExpCore/ExpCore.Sample/obj
/ExpCore/ExpCore.Sample.Repository/bin/Debug/netcoreapp2.0
/ExpCore/ExpCore.Sample.Repository/obj
